<center><h2>DS102 Problem Set - Week 1</h2></center>
**Hackwagon Academy**

`HWA-DS102-PS1-201810`
<hr>

If you have any questions to the Problem Set, feel free to send a message to your TAs or Instructors in the Telegram chat. You are encouraged to also discuss the problem sets within your own groups.

<div class="alert alert-success">Before you start, fill in your details for this notebook and rename the notebook to `<your_name>-problem-set-week-1`, for example `jane-doe-problem-set-week-1`.</div>

In [ ]:
# Rename the notebook. Then, fill in your details here.
# Name  : Yam Hui Min Barbara Rebecca
# Class : 5 May 2019, 7pm

#### Datasets Required:

- `kor-tourist-arrivals.csv`

- `kor-tourist-departures.csv`

- `spotify-100.csv`

### Part 1 (7 Marks)

The datasets `kor-tourist-arrivals.csv` and `kor-tourist-departures.csv` are given to you. They are taken from the [Korean Tourism Organization](https://kto.visitkorea.or.kr/eng/tourismStatics/keyFacts/KoreaMonthlyStatistics.kto) website. The definition of each column is as follows:

<p></p>
<center>`kor-tourist-arrivals.csv`</center>


| col name | definition | datatype | example |
| -------- | ---------- | -------- | ------- |
| visitor_arrivals | The number of visitor arrivals | int | 3683779 |
| year | The year of tourist arrivals | int | 2010 |


<p></p>
<p></p>
<center>`kor-tourist-departures.csv`</center>

| col name | definition | datatype | example |
| -------- | ---------- | -------- | ------- |
| visitor_departures | The number of visitor departures | int | 13736976 |
| year | The year of tourist departures | int | 2010 |

Using the datasets, answer the following questions. Mark breakdowns are stated in the question e.g. **`[1]`**. <span style="color:darkblue">**Where stated, both the <u>code</u> and <u>typed answers</u> must be provided to receive full credit.**</span>

In [5]:
# import the relevant packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

** Read from CSV to `df`**

Read the data from the `kor-tourist-arrivals.csv` CSV file into a `DataFrame` called `kor_arrivals_df`. Also read the data from the `kor-tourist-departures.csv` CSV file into a `DataFrame` called `kor_departures_df`.

In [6]:
# Read from CSV to df
# Write your code here. The code for kor_arrivals_df is done for you.
kor_arrivals_df = pd.read_csv('kor-tourist-arrivals.csv')
kor_departures_df = pd.read_csv('kor-tourist-departures.csv')

**1A.** 

**i)** How many records are there in `kor_arrivals_df`? **`[0.5]`**

In [7]:
# How many records are there in kor_arrivals_df?
# Write your code here
# 
kor_arrivals_df.shape

# (Type your answer here)
# 19 rows, 2 columns, hence 19 records.

(19, 2)

**ii)** What is the earliest and latest year in the tourist arrivals dataset? **`[0.5]`**

In [8]:
# How many records are there in kor_arrivals_df?
# Write your code here
# 
row_1 = kor_arrivals_df.iloc[0,0]
print(row_1)


last_row = kor_arrivals_df.iloc[-1,0]
print(last_row)

print(kor_arrivals_df['year'].min())

# (Type your answer here)
# earliest year = 1996
# latest year = 2014

1996
2014
1996

**1B.** 

**i)** How many records are there in `kor_departures_df`? **`[0.5]`**

In [36]:
# How many records are there in kor_departures_df?
# Write your code here
# 
kor_departures_df.shape
# (Type your answer here)
# 16 rows, 2 columns; hence 16 records

(16, 2)

**ii)** What is the earliest and latest year in the tourist departures dataset? **`[0.5]`**

In [37]:
# What is the earliest and latest year in the tourist departures dataset?
# Write your code here
# 
first_row = kor_departures_df.iloc[0,0]
print(first_row)

last_row1 = kor_departures_df.iloc[-1,0]
print(last_row1)
# (Type your answer here)
# first year = 2000
# last year = 2015

2000
2015

**1C**. From $2005$ to $2010$, what was the average (mean) number of tourist departures per year? **`[1]`**

In [11]:
# From 2005 to 2010, what is the average (mean) number of tourist departures per year?
# Write your code here
# 

tourist_dep_2005to2010_df = kor_departures_df.iloc[5:11]
print(kor_departures_df[(kor_departures_df['year']>=2005)& (kor_departures_df<= 2010])[tourist_departures'].mean()
tourist_dep_2005to2010_df['tourist_departures'].mean()

# (Type your answer here)
# mean = 10648052.5

SyntaxError: invalid syntax (<ipython-input-11-44e598145c35>, line 6)

**1D.** 

**i)** How many tourist arrivals were there in the year $2004$? **`[0.5]`**

In [39]:
# How many tourist arrivals were there in the year 2004?
# Write your code here

kor_arrivals1_df = kor_arrivals_df.copy()

cond = kor_arrivals1_df[kor_arrivals1_df['year']==2004]

print(cond)

# (Type your answer here)
# tourist arrivals = 5818138

   year  tourist_arrivals
8  2004           5818138

**ii)** In which year were there $5,347,468$ tourist arrivals? **`[0.5]`**

In [40]:
# In which year were there 5347468 tourist arrivals?
# Write your code here
# 
cond1 = kor_arrivals1_df[kor_arrivals1_df['tourist_arrivals']==5347468]
print(cond1)
# (Type your answer here)
# Year 2002

   year  tourist_arrivals
6  2002           5347468

**1E**. From 1996 to 2014, in what years were the number of tourist arrivals between $6,000,000$ and $12,000,000$? **`[1]`**

In [17]:
# From 1996 to 2014, in what years was the number of tourist arrivals between 6000000 and 12000000?
# Write your code here
# 

cond2 = kor_arrivals1_df[(kor_arrivals1_df['tourist_arrivals']>6000000) & (kor_arrivals1_df['tourist_arrivals']<12000000)&
        (kor-arrivals1.df['year'].isin(range(1994,2015)))
print(cond2)
# (Type your answer here)
# The years are 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012.

SyntaxError: invalid syntax (<ipython-input-17-524c022c21a1>, line 6)

**1F**. What was the year with the <u>lowest</u> number of departures? **`[1]`**

In [71]:
# What was the year with the lowest number of departures?
# Write your code here
# 
kor_departures1_df=kor_departures_df.copy()

lowest = kor_departures1_df['tourist_departures'].min()
cond3 = kor_departures1_df.loc[kor_departures1_df['tourist_departures']==lowest]
print(cond3['year'])

# (Type your answer here)
#Year 2000

0    2000
Name: year, dtype: int64

**1G**. In 2012, how many more / less departures were there, compared to arrivals? **`[1]`**

In [59]:
# How many more / less departures were there, compared to arrivals in 2012?
# Write your code here
# 
dep_2012 = kor_departures1_df[kor_departures1_df['year']==2012]
arr_2012 = kor_arrivals_df[kor_arrivals_df['year']==2012]

a = int(dep_2012['tourist_departures'])

b = int(arr_2012['tourist_arrivals'])


print(a-b)
# (Type your answer here)
# There are 2596948 more departures than arrivals in 2012.

2596948

<div class="alert alert-success">
**Checkpoint**: When you have completed Part 1, upload your progress to eLearn. eLearn only accepts the latest notebooks so if you have an existing notebook, your latest upload will **override** it.
</div>

### Part 2 (5 Marks)

The dataset `spotify-100.csv` is given to you. They are taken from Kaggle's [Top Spotify Tracks of 2017](https://www.kaggle.com/nadintamer/top-tracks-of-2017). The definition of each column is as follows:

<p></p>
<center>`spotify-100.csv`</center>

| col name | definition | datatype | example |
| -------- | ---------- | -------- | ------- |
| id | The id of a song | str | 1x5sYLZiu9r5E43kMlt9f |
| name | The name of a song | str | Just Hold On |
| artists | The artist/s that sang the song | str | Drake |
| danceability | Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable. | float | 0.707 | 
| energy | Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy. | float | 0.932 |
| key | The key the track is in. Integers map to pitches using standard Pitch Class notation. E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on. | float | 11.0 |
| instrumentals | Predicts whether a track contains no vocals. "Ooh" and "aah" sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly "vocal". The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0. | float | 0.000016 |
| duration_ms | The duration of the track in milliseconds. | float | 212459.0 | 

Using the dataset, answer the following questions. Mark breakdowns are stated in the question e.g. **`[1]`**. <span style="color:darkblue">**Where stated, both the <u>code</u> and <u>typed answers</u> must be provided to receive full credit.**</span>

** Read from CSV to `df`**

Read the data from `spotify-100.csv` into `DataFrame` called `songs_df`. Specify the `sep` parameter accordingly. Refer to [the documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) to help you.

In [19]:
# Read from CSV to df
# Write your code here. Specify the sep parameter accordingly.

songs_df=pd.read_csv('spotify-100.csv',sep='|')
songs_df.sample()

,id,name,artists,danceability,energy,key,instrumentalness,duration_ms
99,1j4kHkkpqZRBwE0A4CN4Y,Dusk Till Dawn - Radio Edit,ZAYN,0.258,0.437,11.0,0.000001,239000.0

**2A.** What is the song with the lowest `duration_ms` in the dataset? **`[1]`**

In [20]:
# What is the song with the lowest duration_ms?
# Write your code here
# 
songs1_df = songs_df.copy()
lowest_duration = songs1_df['duration_ms'].min()
lowest_duration_song = songs1_df.loc[songs1_df['duration_ms']==lowest_duration]
print(lowest_duration_song['name'])

# (Type your answer here)
# The song is 'Body Like A Back Road'.

97    Body Like A Back Road
Name: name, dtype: object

**2B.** What is the mean of the `duration_ms` column in the dataset, ** in seconds**? **`[1]`**

In [21]:
# What is the mean of the duration_ms column, in seconds?
# Write your code here
#
mean_duration= songs1_df['duration_ms'].mean()
print(mean_duration/1000)
# (Type your answer here)
#The mean of the duration_ms column is 218387280.0s.

218.38728

**2C.** What is the standard deviation of the `duration_ms` column in the dataset, ** in seconds**? **`[1]`**

In [22]:
# What is the standard deviation of the duration_ms column, in seconds?
# Write your code here
#
std_dev_duration = songs1_df['duration_ms'].describe()
print(std_dev_duration/1000)
# (Type your answer here)
#The standard deviation is 3.285108e+07s.

count      0.100000
mean     218.387280
std       32.851078
min      165.387000
25%      198.490500
50%      214.106000
75%      230.543000
max      343.150000
Name: duration_ms, dtype: float64

**2D.** What is the skewness of the `danceability` column in the dataset? Does it mean that the series is right-tailed or left-tailed? **`[1]`**

In [86]:
# What is the skewness of the danceability column in the dataset?
# Write your code here
#
skew= songs1_df['danceability'].skew()
print(skew)
# (Type your answer here)
# The skewness is -0.8927224225971558.

# Is the series right-tailed or left-tailed?
# (Type your answer here)
#The series is left-tailed.

-0.8927224225971558

**2E.** What is the kurtosis calculation for the `energy` column in the dataset?  **`[1]`**

In [87]:
# What is the kurtosis calculation for the energy column?
# Write your code here
#
energy_kurt= songs1_df['energy'].kurtosis()
print(energy_kurt)
# (Type your answer here)
#The kurtosis calculation for the 'energy' column is -0.8328329240469872.

-0.8328329240469872

<div class="alert alert-success">
**Checkpoint**: When you have completed Part 2, upload your progress to eLearn. eLearn only accepts the latest notebooks so if you have an existing notebook, your latest upload will **override** it.
</div>